# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Reacttest\Innovatus_JS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
